---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Badges from '../components/Badges.astro';
import Features from '../components/Features.astro';
import Examples from '../components/Examples.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Badges />
    <Features />
    <Examples />
  </main>
  <Footer />
</Layout>
