---
---

<section class="badges-section" aria-label="Project stats">
  <div class="container">
    <div class="badges-row">
      <a href="https://pypi.org/project/signalrcore/" target="_blank" rel="noopener" aria-label="PyPI version">
        <img src="https://img.shields.io/pypi/v/signalrcore?style=flat-square&color=58a6ff&labelColor=21262d&label=pypi" alt="PyPI version" loading="lazy" />
      </a>
      <a href="https://pypi.org/project/signalrcore/" target="_blank" rel="noopener" aria-label="Supported Python versions">
        <img src="https://img.shields.io/pypi/pyversions/signalrcore?style=flat-square&color=58a6ff&labelColor=21262d" alt="Python versions" loading="lazy" />
      </a>
      <a href="https://github.com/mandrewcito/signalrcore/blob/master/LICENSE" target="_blank" rel="noopener" aria-label="License">
        <img src="https://img.shields.io/pypi/l/signalrcore?style=flat-square&color=3fb950&labelColor=21262d" alt="MIT License" loading="lazy" />
      </a>
      <a href="https://pypi.org/project/signalrcore/" target="_blank" rel="noopener" aria-label="Monthly downloads">
        <img src="https://img.shields.io/pypi/dm/signalrcore?style=flat-square&color=bc8cff&labelColor=21262d&label=downloads%2Fmonth" alt="Monthly downloads" loading="lazy" />
      </a>
      <a href="https://github.com/mandrewcito/signalrcore/stargazers" target="_blank" rel="noopener" aria-label="GitHub stars">
        <img src="https://img.shields.io/github/stars/mandrewcito/signalrcore?style=flat-square&color=e3b341&labelColor=21262d" alt="GitHub stars" loading="lazy" />
      </a>
    </div>
  </div>
</section>
